body {
  font-family: Arial;
}

.navbar-brand {
  font-size: 35px;
}

#icon {
  color: darkgreen;
}

.form-control {
  width: 800px;
  border-radius: 30px;
}

#i {
  font-size: 1rem;
  color: #333;
  top: 0.5rem;
  left: 0.5rem;
  right: 0.8rem;
  margin-right: 20px;
}

.position-relative {
  position: relative;
}

#spacer ::placeholder {
  padding-left: 30px;
}

input {
  width: 100%;
  padding-left: 20rem;
  cursor: pointer;
}
.button {
  margin-right: 80px;
}

button.btn {
  border-radius: 30px;
  margin-right: 5px;
}

#container{
  background-color: grey;
  height: 600px;
}

#div1{
 z-index: 2;
 position: absolute;
 margin-left: 100px;
 margin-top: 100px;
}

#div2{
  width: 200px;
  height: 200px;
  background-color: red;
  z-index: 1;
  position: absolute;
  
  
}